# Lingkungan aplikasi: development | production | test
NODE_ENV=development

# Port HTTP yang digunakan aplikasi
PORT=3000

# Provider HTTP: express atau fastify
HTTP_SERVER=express

# Prisma datasource configuration
DATABASE_URL=file:./dev.db
